VITE_APP_NAME=voicevox-irodori
VITE_APP_VERSION=0.1.1
VITE_DEFAULT_ENGINE_INFOS=`[{"uuid":"5de4db52-f9bc-5f92-955a-e6c1b3110001","name":"Irodori-TTS","executionEnabled":true,"executionFilePath":"irodori-engine.exe","executionArgs":[],"host":"http://127.0.0.1:50125"}]`
VITE_OFFICIAL_WEBSITE_URL=https://github.com/Rose3a/kataribe
VITE_LATEST_UPDATE_INFOS_URL=https://raw.githubusercontent.com/Rose3a/kataribe/main/voicevox-editor/public/updateInfos.json
VITE_GTM_CONTAINER_ID=GTM-DUMMY
